!!!

%html
  %head
    %meta{charset: 'utf-8'}
    %meta{http_equiv: 'X-UA-Compatible', content: 'IE=edge'}
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no'}

    %title record.now

    %link{href: 'style.css', rel: 'stylesheet'}

    %script{src: 'app.js', type: 'text/javascript'}

    %style{type: 'text/css'}
      body {
      background: #{@color_from};
      background: -webkit-linear-gradient(left top, #{@color_from}, #{@color_to});
      background: linear-gradient(to bottom right, #{@color_from}, #{@color_to});
      }

  %body
    = yield
